* {
    font-family: Arial, Helvitica, sans-serif;
    box-sizing: border-box;
}
button hover {
background-color: black;
color: white;

} 

body {
    display: flex;
     flex-direction: column;
     justify-content: center;
    align-items: center; 
    background-image: url("https://i.imgur.com/0FVqQGd.png");
    background-size: cover;
}


img {
    height: 30%;
    width: 30%; 
    /* align-self: flex-start */
}

#rocket {
     display: flex;   
     flex-direction: 
     align-items flex-end;
    justify-content: flex-end;
    margin-right: auto;
    height: 30%;
    width: 30%; 


}

#astronaut {
    display: flex;   
    flex-direction: column; 
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: auto;
    height: 30%;
    width: 30%;
}

#letters {
    display: flex;
    max-width: 350px;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

 @media only screen and (min-width: 768px) {
   body {
    grid-template-columns: 1fr,4fr;
    grid-template-rows: 50px auto 30px ;
    }
}
 #p-guessword {
     background-color: blue; 
}

div {
    border: 1px red;
}
/* 
h1 {
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/013/889/non_2x/criminal-astronaut-design-illustration-free-vector.jpg");
} */